// For titles of boxes
$textBlack: #333333;
$textWhite: #f3f6f8;
$textShadowLight: 0 0 8px rgba(255,255,255,.5);
$textShadowDark: 0 0 4px black;

// Custom colours used elsewhere
$robbieTitle: rgb(59, 71, 79);

// Backgrounds
$robbieBG: #f8bf6b;
$komodoBG: rgb(229, 229, 229);
$durhackBG: #434144;
$compsocBG: rgb(149, 197, 205);
$hackathonsUKBG: #171717;
$durhamUniversityBG: rgb(103, 36, 109);
$mlhBG: #f9f9f9;

// Buttons
$buttonBlue: #7aaed1;
$buttonLightBlue: #8dbcdb;
$buttonShadow: rgba(0, 0, 0, .12);
