// For titles of boxes
$textBlack: #333;
$textWhite: #f3f6f8;

// Backgrounds
$robbieBG: rgb(59, 71, 79);
$komodoBG: rgb(229, 229, 229);
$durhackBG: #434144;
$compsocBG: rgb(149, 197, 205);
$durhamUniversityBG: rgb(103, 36, 109);
