@import "colours";

// Text colours and shadows
@mixin lightText {
  text-shadow: $textShadowDark;

  &, a {
    color: $textWhite;
  }
}

@mixin darkText {
  text-shadow: $textShadowLight;

  &, a {
    color: $textBlack;
  }
}

// Break points
$smallBreakPoint: 530px;
$mediumBreakPoint: 840px;

// Media queries

@mixin mediumScreens {
  @media screen and (max-width: $mediumBreakPoint) {
    @content
  }
}

@mixin smallScreens {
  @media screen and (max-width: $smallBreakPoint) {
    @content
  }
}
