@import "../../node_modules/normalize.css/normalize.css";
@import "colours";

html, body {
  height: 100vh;
}

body {
  main.container {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: repeat(2, 50%);
    height: 100vh;

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 2rem 1rem;

      h1, h2 {
        font-family: Oswald, sans-serif;
        margin: 0;
      }

      h1 {
        margin-bottom: 0.5rem;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        align-self: center;
        margin-bottom: 1rem;
      }

      .button {
        display: block;
        font-family: Work Sans, sans-serif;
        font-weight: 800;
        font-size: 1.4rem;
        font-variant: small-caps;
        text-decoration: none;
        width: auto;
        color: $textWhite;
        padding: 0.5rem 0;
        border-radius: 6px;
        background: $buttonBlue;
        border: 4px outset $buttonBlue;
        box-shadow: 2px 2px 4px 2px $buttonShadow;
        margin: 1rem 2rem;
        transition: all 0.15s;

        &:hover {
          background: $buttonLightBlue;
        }

        &:active {
          border-style: inset;
        }
      }

      &.name {
        background: $robbieBG;
        color: $textWhite;

        h1 {
          font-size: 3rem;
        }
      }

      &.work {
        background: $komodoBG;
        color: $textBlack;
      }

      &.durhack {
        background: $durhackBG;
        color: $textWhite;
      }

      &.compsoc {
        background: $compsocBG;
        color: $textBlack;
      }

      &.durham-university {
        background: $durhamUniversityBG;
        color: $textWhite;
      }

      &.contact {
        background: $contactBG;
        color: $textWhite;
      }
    }
  }
}
